<!DOCTYPE html>
<html ng-app="myApp" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=100%, initial-scale=1">
    <meta content="width=1336 px">
    <link rel="icon" type="image/png" th:href="@{/img/AMTMB.jpg}"/>
    <link rel="stylesheet" th:href="@{/css/ng-table.min.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <title>A.M.T.M.B.</title>
</head>
<script th:src="@{/js/lib/angular.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/controllers/facturaControllers.js}"></script>
<script th:src="@{/js/lib/ng-table.min.js}"></script>
<body class="fondo">
<div class="agrupar" ng-controller="FacturaController">
    <header>
        <div class="cabecera">
            <h1>Factura Electronica</h1>
        </div>
        <div id="izqui">
            <h5> {{direccion}} </h5>
            <h5> {{telefono}} </h5>
        </div>
    </header>
    <nav class="menunav"></nav>
    <section>
        <div class="menu">
            <div class="encabezado1">
                <div class="fechade">
                    <label>Fecha:</label>
                    <input type="date" ng-model="factura.fecha"/>
                </div>
                <div class="tipocomprob">
                    <select class="tipocomprobsele" ng-model="factura.tipoComprobante">
                        <option value="" disabled selected>Tipo Comprobante</option>
                        <option ng-repeat="comprobante in comprobantes"
                                value="{{comprobante.codigo}}">{{comprobante.descripcion}}</option>
                    </select>
                </div>
                <div class="puntode">
                    <label>Punto de Venta:</label>
                    <input type="text" maxlength="4" class="depunto" ng-model="factura.puntoVenta">
                    <label>Nro. de Comprobante:</label>
                    <input type="text" maxlength="8" class="decomprobante" ng-model="factura.nroComprobante">
                </div>
            </div>
            <div class="encabezado2">
                <div class="form1">
                    <div class="form1-form1">
                        <label class="form-label">Sindicato:</label>
                        <input type="text" maxlength="3" class="form-input4" ng-model="factura.sindicato" ng-change="buscarSindicatoInput()">
                        <button title="Busca Sindicato" class="button" ng-click="buscarSindicatoModal()">BUSCAR</button>
                        <label class="form-label">{{sindicatoNombre}}</label>
                        <label class="form-label">{{sindicatoCuit}}</label>
                    </div>

                    <!--MODAL SINDICATO-->
                    <div id="modalSindicato" class="modal">
                        <div class="modal-content">
                            <span class="close" ng-click="cerrarModal()">&times;</span>
                            <table ng-table="sindicatosTable" class="table" show-filter="true">
                                <tr ng-repeat="sindicato in $data">
                                    <td title="'Código'" filter="{ codigo: 'text'}" sorteable="'codigo'">{{sindicato.codigo}}</td>
                                    <td title="'Nombre'" filter="{ nombre: 'text'}" sorteable="'nombre'">{{sindicato.nombre}}</td>
                                    <td width="65px">
                                        <button value="Seleccionar" title="Seleccionar" class="button" ng-click="seleccionSindicato(sindicato.codigo, sindicato.nombre, sindicato.cuit)">Este!</button>
                                    </td>
                                </tr>
                            </table>
                            <button title="Limpiar" class="button" ng-click="deseleccionarSindicato()">LIMPIAR</button>
                        </div>
                    </div>

                    <div class="form1-form2">
                        <label class="form-label">Afiliado:</label>
                        <input type="text" maxlength="11" class="form-input2" ng-model="factura.afiliado" ng-change="buscarAfiliadoInput()">
                        <button title="Busca Afiliado" class="button" ng-click="buscarAfiliadoModal()">BUSCAR</button>
                        <label class="form-label">{{afiliadoNombre}}</label>
                        <label class="form-label">{{afiliadoDni}}</label>
                    </div>

                    <!--MODAL AFILIADO-->
                    <div id="modalAfiliado" class="modal">
                        <div class="modal-content">
                            <span class="close" ng-click="cerrarModal()">&times;</span>
                            <table ng-table="afiliadosTable" class="table" show-filter="true">
                                <tr ng-repeat="afiliado in $data">
                                    <td title="'Sindicato'" filter="{ sindicato: 'text'}" sorteable="'sindicato'">{{afiliado.sindicato}}</td>
                                    <td title="'Nro IOMA'" filter="{ ioma: 'text'}" sorteable="'ioma'">{{afiliado.ioma}}</td>
                                    <td title="'Barra'" filter="{ barra: 'text'}" sorteable="'barra'">{{afiliado.barra}}</td>
                                    <td title="'Nombre'" filter="{ nombre: 'text'}" sorteable="'nombre'">{{afiliado.nombre}}</td>
                                    <td title="'Cód. Familia'" filter="{ familia: 'text'}" sorteable="'familia'">{{afiliado.familia}}</td>
                                    <td title="'Nro. Documento'" filter="{ dni: 'text'}" sorteable="'dni'">{{afiliado.dni}}</td>
                                    <td title="'Bloqueo'" filter="{ bloqueo: 'text'}" sorteable="'bloqueo'">{{afiliado.bloqueo}}</td>
                                    <td title="'Fecha Baja'" filter="{ fechaBaja: 'text'}" sorteable="'fechaBaja'">{{afiliado.fechaBaja}}</td>
                                    <td width="65px">
                                        <button value="Seleccionar" title="Seleccionar" class="button" ng-click="seleccionAfiliado(afiliado.id, afiliado.nombre, afiliado.dni)">Este!</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="form2">
                    <select class="sele11" ng-model="factura.situacionIVA">
                        <option value="" disabled selected> Situaciones de IVA</option>
                        <option ng-repeat="situacion in situacionesIva"
                                value="{{situacion.codigoAfip}}">{{situacion.descripcion}}</option>
                    </select>

                    <select class="sele11" ng-model="factura.condicionVenta">
                        <option value="" disabled selected> Condición de Venta</option>
                        <option ng-repeat="condicion in condicionesVenta"
                                 value="{{condicion.codigoAfip}}">{{condicion.descripcion}}</option>
                    </select>

                </div>
                <div class="form3">
                    <label class="form-label">Bonificación %</label>
                    <input type="number" min="0" max="100" class="form-input3" ng-model="factura.bonificacion" ng-change="actualizarDescuento()">
                </div>
                <div class="form4">
                    <label class="form-label">Lista A</label>
                    <input type="radio" ng-model="factura.listaPrecio" class="form-input-radio" value="A">
                    <label class="form-label">Lista B</label>
                    <input type="radio" ng-model="factura.listaPrecio" class="form-input-radio" value="B">
                    <label class="form-label">Lista C</label>
                    <input type="radio" ng-model="factura.listaPrecio" class="form-input-radio" value="C" ng-checked="true">
                </div>
            </div>
            <div class="encabezado3">
                <div class=""></div>

                <table ng-table="articulosTable" class="table" show-filter="false">
                    <tr ng-repeat="articulo in $data">
                        <td title="'Fecha'">{{articulo.fecha}}</td>
                        <td title="'Código de Artículo'">{{articulo.codigo}}</td>
                        <td title="'Descripción'">{{articulo.descripcion}}</td>
                        <td title="'Cantidad'">{{articulo.cantidad}}</td>
                        <td title="'P.Unitario'">{{articulo.precio}}</td>
                        <td title="'Total'">{{articulo.total}}</td>
                        <td width="65px">
                            <button value="Editar" title="Editar" class="button" ng-click="editarArticulo(articulo.id)">Edi</button>
                            <span></span>
                            <button value="Borrar" title="Borrar" class="button" ng-click="borrarArticulo(articulo.id)">Bor</button>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="date" ng-model="nuevoArticulo.fecha" placeholder="dd-MM-yyyy" ng-change="buscarProductoInput()"/></td>
                        <td>
                            <input type="text" maxlength="8" ng-model="nuevoArticulo.codigo" ng-change="buscarProductoInput()">
                            <button value="Buscar" title="Busca Artículo" class="button" ng-click="buscarProductoModal()">buscar</button>
                        </td>
                        <td><input type="text" maxlength="7" ng-model="nuevoArticulo.descripcion" ng-disabled="true"></td>
                        <td><input type="text" maxlength="7" ng-model="nuevoArticulo.cantidad" ng-change="actualizarNuevoTotal()"></td>
                        <td><input type="text" maxlength="7" ng-model="nuevoArticulo.precio" ng-change="actualizarNuevoTotal()"></td>
                        <td><input type="text" maxlength="7" ng-model="nuevoArticulo.total" ng-disabled="true"></td>
                        <td><button value="Guardar" title="Guardar" class="button" ng-click="guardarArticulo()">Gua</button></td>
                    </tr>
                </table>
                <!--MODAL STOCK-->
                <div id="modalProducto" class="modal">
                    <div class="modal-content">
                        <span class="close" ng-click="cerrarModal()">&times;</span>
                        <table ng-table="productosTable" class="table" show-filter="true">
                            <tr ng-repeat="producto in $data">
                                <td title="'Código'" filter="{ codigo: 'number'}" sorteable="'codigo'">{{producto.id}}</td>
                                <td title="'Desipcion'" filter="{ descripcion: 'text'}" sorteable="'descripcion'">{{producto.descripcion}}</td>
                                <td title="'Stock'" filter="{ stock: 'number'}" sorteable="'stock'">{{producto.stock}}</td>
                                <td width="65px">
                                    <button value="Seleccionar" title="Seleccionar" class="button" ng-disabled="producto.stock==0" ng-click="seleccionProducto(producto.id, producto.descripcion, producto.precioA, producto.precioB, producto.precioC)">Este!</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="encabezado4">
                <div class="form6">
                    <label for="leyenda" class="form-label">Leyenda al Pie del Comprobante:</label>
                    <textarea id="leyen">  </textarea>

                    <div class="form5">
                        <label for="cae" class="form-label">CAE:(muestro el cae)</label>
                    </div>

                    <div class="form5">
                        <label for="vtocae" class="form-label">Vto.CAE:(muestro el vto)</label>
                    </div>
                    <div class="form5">
                        <button ng-click="enviar()" value="solicito" title="Solicita CAE al AFIP" class="button" id="accions">Solicitar
                            CAE
                        </button>
                    </div>

                </div>

                <div class="totales">
                    <table>
                        <tr>
                            <td>Subtotal</td>
                            <td width="150px">{{totales.subtotal}}</td>
                        </tr>
                        <tr>
                            <td>Descuento</td>
                            <td>{{totales.descuento}}</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>{{totales.total}}</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </section>
    <footer id="pie">
        pie
    </footer>
</div>
</body>
</html>